<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>

    {#<base href="<?php echo ll::$data->url->endereco; ?>"/>#}
    <meta charset="utf-8">
    {#<meta name="url" content=""/>#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#<link rel="SHORTCUT ICON" href="<?php echo ll::$data->url->endereco; ?>/usr/img/favicon.ico" type="image/x-icon"/>#}

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/themes/base/theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

    {% block head %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
</head>

<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        {% block mainHeader %}
            {% include '@Template/Main/MainMenu.twig' %}
        {% endblock %}
        <!-- /Navbar -->

        {% block contentPrepend %}{% endblock %}

        <div class="content-wrapper">
            {% block contentBefore %}{% endblock %}

            {% block content %}{% endblock %}

            {% block contentAter %}{% endblock %}
        </div>

        {% block contentAppend %}{% endblock %}

        <!-- Footer -->
        {% block mainFooter %}
            {% include '@Template/Main/MainFooter.twig' %}
        {% endblock %}
        <!-- /Footer -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

    {% block foot %}{% endblock %}

</body>
</html>